{% extends 'base.html.twig' %}

{% block title %}Saisie d'activité physique{% endblock %}

{% block body %}
    <h1>Enregistrement réussi</h1>
    <p>L'activité physique a bien été enregistrée.</p>
    <a href="{{ path('activity_index') }}">Retour à la liste des activités</a>
{% endblock %}

